
</div>
<div class="footer-padding">
  <div class="footer">
  <a class="footer-link" href="https://www.linkedin.com/in/chloe-m-935701b0">LINKEDIN</a>
  <a class="footer-link" href="https://twitter.com/">TWITTER</a>
  <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p>Made with ❤️ by Chloe Mclamb</p>
  </div>
</div>
</body>
</html>
