<%- include("partials/header"); -%>
<div class="about-row">
  <h1>Learn More About Me</h1>
  <p>I have been a freelance front - end developer for several years and have worked on a number of projects for various clients. My most recent project was working with a small business to create a website that would help them sell their products online.</p>
</div>
<div class="about-row">
  <p>I have been a freelance front - end developer for several years and have worked on a number of projects for various clients. My most recent project was working with a small business to create a website that would help them sell their products online.</p>
</div>

<div class="skills">
  <h2>My Skills</h2>
  <div class="skill-row">
    <div class="skill-list">
<ul class="list-group list-group-flush">
      <p> <li>Front-End Development</li>
        <li>Back-End Development</li>
        <li>Customer Service</li>
        <li>Management Experience</li>
        <li>2D/3D Artist & Designer</li>
        <li>UX/UI Design</li> </p> 
      </ul>
    </div>

<%- include("partials/footer"); -%>
