<%- include("partials/header"); -%>
<h1>Contact Me</h1>
<div class="container">
<form class="contact">
  <div class="form-group">
    <label for="contactForm">Email address</label>
    <input type="email" class="form-control" id="contactForm" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Reasoning for Contact</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Web Design Services</option>
      <option>App Design Services</option>
      <option>Logo & Branding Services</option>
      <option>Web Development Services</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="yourMessage">Your Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>
  <button type="submit" class= "btn btn-primary btn-lg" name="button">Submit</button>
</form>
</div>
<%- include("partials/footer"); -%>
